    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        color: white;
        background: linear-gradient(35deg, rgb(103, 243, 103), rgb(13, 75, 23));
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    .first-text-div {
        background-color: #222;
        border-radius: 40px;
        height: 35rem;
    }
    
    .plant {
        max-width: 30%;
    }
    
    .info-main {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-35vw, -30vh);
        width: 70vw;
        margin-top: 10vh;
        border: 3px black solid;
        border-radius: 30px;
        height: 320px;
        background: linear-gradient(45deg, rgb(30, 118, 22), rgb(93, 202, 26), rgb(7, 177, 112));
        background-size: 400% 400%;
        animation: 14s inf-bg linear infinite;
    }
    
    @keyframes inf-bg {
        100%,
        0% {
            background-position: 100%;
        }
        50% {
            background-position: 0%;
        }
    }
    
    .text-header-info {
        text-align: center;
        margin-top: 10px;
        font-size: 4rem;
        color: rgb(19, 87, 29);
    }
    
    .contact-text-title {
        font-size: 1.5rem;
        font-weight: bolder;
        text-align: center;
    }
    
    .contact-text {
        color: white;
        font-size: 1.2rem;
        font-weight: bolder;
        text-align: center;
    }
    
    .text-sub-info {
        text-align: center;
        text-indent: 30px;
        color: white;
        font-size: 1.5rem;
        font-weight: lighter;
    }
    
    .nvbr-height {
        border: 2px black solid;
        height: 80px;
    }
    
    .nvbr-color {
        background-color: black;
    }
    
    .not-current-link {
        color: rgb(114, 108, 108);
        font-weight: 200;
        font-size: 14px;
    }
    
    .current-link {
        color: #ffffff;
        font-weight: bolder;
    }
    
    a:hover,
    a:link,
    a:visited,
    a:active {
        text-decoration: none;
        color: white;
    }
    
    .blob {
        top: 20%;
        position: absolute;
    }
    
    .img-blob-fluid {
        max-height: 450px;
        max-width: 500px;
    }
    
    .top {
        z-index: 1000;
        position: fixed;
        bottom: 30px;
        right: 30px;
        background-color: rgb(32, 87, 32);
        width: 90px;
        height: 40px;
        border-radius: 20px;
        line-height: 36px;
        text-align: center;
    }
    
    .download {
        margin-right: 20px;
        margin-left: 20px;
        text-shadow: 2px 2px black;
        text-align: center;
    }
    
    .shape-top {
        margin-bottom: -100px;
        box-sizing: border-box;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .title {
        margin-top: 100px;
        margin-bottom: 50px;
    }
    
    .title-download {
        box-shadow: 2px 2px 4px 4px black;
        margin-top: 150px;
        margin-bottom: 20px;
        box-shadow: 2px 2px 4px 4px black;
        background: rgba(0, 0, 0, 0.5);
        background-image: url(../img/download-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        z-index: 0;
        max-width: 60%;
    }
    
    .download-img {
        width: 130px;
        height: auto;
    }
    
    .legal-info {
        margin-top: 70px;
        margin-bottom: 70px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.779);
        text-align: center;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.555);
    }
    
    .text-header {
        margin-top: 100px;
        font-size: 90px;
        color: rgb(19, 87, 29);
    }
    
    @keyframes arrow {
        0%,
        100% {
            transform: translate(0, -10px);
        }
        50% {
            transform: translate(0, 10px);
        }
    }
    
    .arrow-anim {
        margin-top: 70px;
        text-align: center;
        text-shadow: 6px 3px black;
        animation: arrow 4s infinite linear;
        font-size: 40px;
        margin-bottom: 120px;
    }
    
    .text-sub {
        text-indent: 30px;
        color: white;
        font-size: 30px;
        font-weight: lighter;
    }
    
    .first-info {
        text-align: center;
        color: white;
        text-shadow: 1px 1px black;
        font-size: 30px;
        font-weight: bold;
    }
    
    .first-text {
        text-align: left;
        color: white;
        text-shadow: 1px 1px black;
        font-size: 30px;
        font-weight: bold;
    }
    
    .img-shadow {
        filter: drop-shadow(10px 10px 14px #222);
    }
    
    .img-fluid-phone {
        rotate: 10deg;
        z-index: 10;
        max-width: 300px;
    }
    
    @media only screen and (max-width: 1080px) {
        .download-img {
            width: 100px;
            height: 40px;
        }
        .title {
            margin-top: 100px;
            margin-bottom: 20px;
        }
        .text-sub {
            text-indent: 30px;
            font-size: 30px;
            margin-bottom: 20px;
        }
        .arrow-anim {
            margin-top: 20px;
            text-shadow: 6px 3px black;
            animation: arrow 4s infinite linear;
            font-size: 40px;
            margin-bottom: 120px;
        }
        .img-fluid {
            margin-top: 60px;
            margin-bottom: 60px;
        }
        .img-blob-fluid {
            max-height: 360px;
            max-width: 450px;
        }
        .top {
            z-index: 1000;
            position: fixed;
            bottom: 10px;
            right: 30px;
            background-color: rgb(32, 87, 32);
            width: 120px;
            height: 50px;
            border-radius: 20px;
            line-height: 46px;
            text-align: center;
            font-size: 24px;
        }
        .nav-font-size {
            font-size: 24px;
        }
    }
    
    @media only screen and (max-width: 768px) {
        .title-download {
            box-shadow: 2px 2px 4px 4px black;
            margin-top: 200px;
            margin-bottom: 10px;
            padding-bottom: 70px;
        }
        .download-img {
            width: 120px;
            height: 50px;
        }
    }